<!DOCTYPE html>
<html>

<head>
  <title>VueJS Course</title>
  <style>
    body{
    font-size: 20px;
    font-family: sans-serif;
}
label{
    margin-bottom: 20px;
    font-size: 20px;
    display: block;
}
select{
    font-size: 20px;
    margin-bottom: 20px;
}
input[type=number]{
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #45D619;
    text-align: center;
    color: #fff;
    line-height: 150px;
    font-size: 32px;
    font-weight: bold;
}

.purple{
    background-color: #767DEA;
}
.text-black{
    color: #424242;
}
.text-orange{
    color: #FFC26F;
}

  </style>
</head>

<body>
  <div id="app">
    <label>
      <input type="checkbox" v-model="isPurple" value="1"> Purple
    </label>

    <select v-model="selectedColor">
      <option value="">White</option>
      <option value="text-black">Black</option>
      <option value="text-orange">Orange</option>
    </select>

    <input type="number" v-model.number="size" value=""/>

    <div class="circle input" v-if="isPurple != 1" style="height: 'size'; width: 'size';">
        <div v-if="selectedColor == 'text-black'" class="text-black">
            Hi!
        </div>
        <div v-else-if="selectedColor == 'text-orange'" class="text-orange">
            Hi!
        </div>
        <div v-else>
            Hi!
        </div>
    </div>
    <div v-else-if="isPurple == 1" class="circle purple input" >
        <div v-if="selectedColor == 'text-black'" class="text-black">
            Hi!
        </div>
        <div v-else-if="selectedColor == 'text-orange'" class="text-orange">
            Hi!
        </div>
        <div v-else>
            Hi!
        </div>
    </div>

  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let vm = Vue.createApp({
    data() {
        return {
            isPurple : '',
            selectedColor : '',
            size : 150,
        }
    },
    computed: {
    }

}).mount('#app')

  </script>
</body>
</html>