<!DOCTYPE html>
<html>

<head>
  <title>VueJS Course</title>
  <style>

</style>
</head>

<body>
  <div id="app">
    <label>Role</label> <br>
        <select v-model="conn">
            <option value="1">Imposter</option>
            <option value="2">Crew</option>
    </select>
    <div class="detail">
        <p v-if="conn == 1">Tugas Anda adalah untuk membunuh semua Crew</p>
        <p v-else-if="conn == 2">Anda Bertugas untuk menyelesaikan semua task dan jangan sampai terbunuh</p>
    </div>

  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let vm = Vue.createApp({
    data() {
        return {
            conn: ''
        }
    }

    }).mount('#app');
  </script>
</body>

</html>